# Wrangle and Analyze Data: WeRateDogs

## Introduction

The goal of this project is wrangling WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information, hence additional gathering, assessing and cleaning is required for worthy analyses and visualizations.

In [12]:
# Importing all required libraries

# General libraries

import pandas as pd
import numpy as np

import os

#To help reading html files
from bs4 import BeautifulSoup

#To donwload files programatically.
import requests

#To query the Twitter API and 
import tweepy
import json

## Gather

In [13]:
# Reading provided file from UDACITY
twitter_data = pd.read_csv("twitter-archive-enhanced.csv")

In [15]:
# Downloading programmatically using the Requests library and the following URL: 

    #Requesting file
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

    # Write tsv file   
with open('image-predictions.tsv', mode ='wb') as file:
    file.write(response.content)

    #Read data in tabular format
Imagenes_data = pd.read_csv('image-predictions.tsv', sep='\t' )

In [17]:
# Creating an API object to gather data from Twitter

consumer_key = '6qq2S76RYxQU9SHUxh4HA88ZF'
consumer_secret = 'Zt8IW3XUezRBMCkZVFScytQKzpvh56lDqk7l2lXrjjqsOHD0Ci'
access_token = '1034941704858730497-B6fs2Rg76YjgRocLffVukK0tix6Ig7'
access_secret = 'wBinKmdIJERV3FulmpqcQdfHyj2UeezfN7fWVw803Ppq7'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret,)

api = tweepy.API(auth)

In [20]:
#Twitter Query using tweet_id information from the twitter_data.
tweet_errors=[]

#tweet_ids = list(twitter_data.tweet_id)
API_tweet_data = []

# Creating the API_tweet_data dataframe

for tweet in twitter_data.tweet_id:  
    try:
        tweet_status = api.get_status(tweet, tweet_mode='extended',  wait_on_rate_limit_notify = True, wait_on_rate_limit = True)._json
        API_tweet_data.append({'tweet_id':tweet,
                        'retweet_count':tweet_status['retweet_count'],
                        'favorite_count':tweet_status['favorite_count'],
                        'text':tweet_status['full_text'],
                        'retweeted': tweet_status['retweeted'],
                        'date_time':tweet_status['created_at']})

        
    except: 
        print("Found an error in tweet with ID: " + str(tweet))
        tweet_errors.append(tweet)

Found an error in tweet with ID: 888202515573088257
Found an error in tweet with ID: 873697596434513921
Found an error in tweet with ID: 869988702071779329
Found an error in tweet with ID: 866816280283807744
Found an error in tweet with ID: 861769973181624320
Found an error in tweet with ID: 845459076796616705
Found an error in tweet with ID: 842892208864923648
Found an error in tweet with ID: 837012587749474308
Found an error in tweet with ID: 827228250799742977
Found an error in tweet with ID: 802247111496568832
Found an error in tweet with ID: 775096608509886464
Found an error in tweet with ID: 771004394259247104
Found an error in tweet with ID: 770743923962707968

Rate limit reached. Sleeping for: 544

Found an error in tweet with ID: 758740312047005698
Found an error in tweet with ID: 754011816964026368

Rate limit reached. Sleeping for: 561

Found an error in tweet with ID: 676957860086095872

In [22]:
tweet_errors

[892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193,
 892420643555336193]

In [23]:
# Create DataFrames from list of dictionaries
json_tweets = pd.DataFrame(API_tweet_data, columns = ['tweet_id','retweet_count', 'favorite_count',
                                               'text','retweeted', 'date_time'])
# Save the dataFrame in file
json_tweets.to_csv('tweet_json.txt', encoding = 'utf-8', index=False)

In [24]:
tweet_data = pd.read_csv('tweet_json.txt', encoding = 'utf-8')

In [25]:
tweet_data

,tweet_id,retweet_count,favorite_count,text,retweeted,date_time
0,892420643555336193,8459,38443,This is Phineas. He's a mystical boy. Only eve...,False,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,6229,32948,This is Tilly. She's just checking pup on you....,False,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,4129,24818,This is Archie. He is a rare Norwegian Pouncin...,False,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,8586,41801,This is Darla. She commenced a snooze mid meal...,False,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,9316,39970,This is Franklin. He would like you to stop ca...,False,Sat Jul 29 16:00:24 +0000 2017
5,891087950875897856,3087,20061,Here we have a majestic great white breaching ...,False,Sat Jul 29 00:08:17 +0000 2017
6,890971913173991426,2053,11740,Meet Jax. He enjoys ice cream so much he gets ...,False,Fri Jul 28 16:27:12 +0000 2017
7,890729181411237888,18770,64921,When you watch your owner call another dog a g...,False,Fri Jul 28 00:22:40 +0000 2017
8,890609185150312448,4237,27576,This is Zoey. She doesn't want to be one of th...,False,Thu Jul 27 16:25:51 +0000 2017
9,890240255349198849,7349,31646,This is Cassie. She is a college pup. Studying...,False,Wed Jul 26 15:59:51 +0000 2017
10,890006608113172480,7283,30410,This is Koda. He is a South Australian decksha...,False,Wed Jul 26 00:31:25 +0000 2017
11,889880896479866881,4940,27551,This is Bruno. He is a service shark. Only get...,False,Tue Jul 25 16:11:53 +0000 2017
12,889665388333682689,9990,47718,Here's a puppo that seems to be on the fence a...,False,Tue Jul 25 01:55:32 +0000 2017
13,889638837579907072,4516,26933,This is Ted. He does his best. Sometimes that'...,False,Tue Jul 25 00:10:02 +0000 2017
14,889531135344209921,2224,14971,This is Stuart. He's sporting his favorite fan...,False,Mon Jul 24 17:02:04 +0000 2017
15,889278841981685760,5383,25085,This is Oliver. You're witnessing one of his m...,False,Mon Jul 24 00:19:32 +0000 2017
16,888917238123831296,4473,28851,This is Jim. He found a fren. Taught him how t...,False,Sun Jul 23 00:22:39 +0000 2017
17,888804989199671297,4296,25367,This is Zeke. He has a new stick. Very proud o...,False,Sat Jul 22 16:56:37 +0000 2017
18,888554962724278272,3555,19716,This is Ralphus. He's powering up. Attempting ...,False,Sat Jul 22 00:23:06 +0000 2017
19,888078434458587136,3474,21574,This is Gerald. He was just told he didn't get...,False,Thu Jul 20 16:49:33 +0000 2017
20,887705289381826560,5354,29917,This is Jeffrey. He has a monopoly on the pool...,False,Wed Jul 19 16:06:48 +0000 2017
21,887517139158093824,11598,45863,I've yet to rate a Venezuelan Hover Wiener. Th...,False,Wed Jul 19 03:39:09 +0000 2017
22,887473957103951883,18077,68545,This is Canela. She attempted some fancy porch...,False,Wed Jul 19 00:47:34 +0000 2017
23,887343217045368832,10332,33403,You may not have known you needed to see this ...,False,Tue Jul 18 16:08:03 +0000 2017
24,887101392804085760,5923,30286,This... is a Jubilant Antarctic House Bear. We...,False,Tue Jul 18 00:07:08 +0000 2017
25,886983233522544640,7728,34877,This is Maya. She's very shy. Rarely leaves he...,False,Mon Jul 17 16:17:36 +0000 2017
26,886736880519319552,3271,11958,This is Mingus. He's a wonderful father to his...,False,Sun Jul 16 23:58:41 +0000 2017
27,886680336477933568,4437,22242,This is Derek. He's late for a dog meeting. 13...,False,Sun Jul 16 20:14:00 +0000 2017
28,886366144734445568,3180,21015,This is Roscoe. Another pupper fallen victim t...,False,Sat Jul 15 23:25:31 +0000 2017
29,886267009285017600,4,116,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,False,Sat Jul 15 16:51:35 +0000 2017
...,...,...,...,...,...,...
2310,666411507551481857,325,445,This is quite the dog. Gets really excited whe...,False,Tue Nov 17 00:24:19 +0000 2015
2311,666407126856765440,40,108,This is a southern Vesuvius bumblegruff. Can d...,False,Tue Nov 17 00:06:54 +0000 2015
2312,666396247373291520,84,167,Oh goodness. A super rare northeast Qdoba kang...,False,Mon Nov 16 23:23:41 +0000 2015
2313,666373753744588802,93,187,Those are sunglasses and a jean jacket. 11/10 ...,False,Mon Nov 16 21:54:18 +0000 2015
2314,666362758909284353,567,774,Unique dog here. Very small. Lives in containe...,False,Mon Nov 16 21:10:36 +0000 2015
2315,666353288456101888,72,219,Here we have a mixed Asiago from the Galápagos...,False,Mon Nov 16 20:32:58 +0000 2015
2316,666345417576210432,135,294,Look at this jokester thinking seat belt laws ...,False,Mon Nov 16 20:01:42 +0000 2015
2317,666337882303524864,90,197,This is an extremely rare horned Parthenon. No...,False,Mon Nov 16 19:31:45 +0000 2015
2318,666293911632134144,354,497,This is a funny dog. Weird toes. Won't come do...,False,Mon Nov 16 16:37:02 +0000 2015
2319,666287406224695296,64,148,This is an Albanian 3 1/2 legged Episcopalian...,False,Mon Nov 16 16:11:11 +0000 2015
2320,666273097616637952,76,174,Can take selfies 11/10 https://t.co/ws2AMaNwPW,False,Mon Nov 16 15:14:19 +0000 2015
2321,666268910803644416,35,102,Very concerned about fellow dog trapped in com...,False,Mon Nov 16 14:57:41 +0000 2015
2322,666104133288665088,6547,14253,Not familiar with this breed. No tail (weird)....,False,Mon Nov 16 04:02:55 +0000 2015
2323,666102155909144576,12,80,Oh my. Here you are seeing an Adobe Setter giv...,False,Mon Nov 16 03:55:04 +0000 2015
2324,666099513787052032,67,153,Can stand on stump for what seems like a while...,False,Mon Nov 16 03:44:34 +0000 2015
2325,666094000022159362,73,164,This appears to be a Mongolian Presbyterian mi...,False,Mon Nov 16 03:22:39 +0000 2015
2326,666082916733198337,44,117,Here we have a well-established sunblockerspan...,False,Mon Nov 16 02:38:37 +0000 2015
2327,666073100786774016,163,320,Let's hope this flight isn't Malaysian (lol). ...,False,Mon Nov 16 01:59:36 +0000 2015
2328,666071193221509120,60,147,Here we have a northern speckled Rhododendron....,False,Mon Nov 16 01:52:02 +0000 2015
2329,666063827256086533,217,473,This is the happiest dog you will ever see. Ve...,False,Mon Nov 16 01:22:45 +0000 2015
2330,666058600524156928,57,111,Here is the Rand Paul of retrievers folks! He'...,False,Mon Nov 16 01:01:59 +0000 2015
2331,666057090499244032,141,295,My oh my. This is a rare blond Canadian terrie...,False,Mon Nov 16 00:55:59 +0000 2015
2332,666055525042405380,249,433,Here is a Siberian heavily armored polar bear ...,False,Mon Nov 16 00:49:46 +0000 2015
2333,666051853826850816,844,1212,This is an odd dog. Hard on the outside but lo...,False,Mon Nov 16 00:35:11 +0000 2015
2334,666050758794694657,58,132,This is a truly beautiful English Wilson Staff...,False,Mon Nov 16 00:30:50 +0000 2015
2335,666049248165822465,40,109,Here we have a 1949 1st generation vulpix. Enj...,False,Mon Nov 16 00:24:50 +0000 2015
2336,666044226329800704,141,298,This is a purebred Piers Morgan. Loves to Netf...,False,Mon Nov 16 00:04:52 +0000 2015
2337,666033412701032449,44,125,Here is a very happy pup. Big fan of well-main...,False,Sun Nov 15 23:21:54 +0000 2015
2338,666029285002620928,47,129,This is a western brown Mitsubishi terrier. Up...,False,Sun Nov 15 23:05:30 +0000 2015
2339,666020888022790149,511,2556,Here we have a Japanese Irish Setter. Lost eye...,False,Sun Nov 15 22:32:08 +0000 2015

## Assessing

The following lines are intended to assess and overview the information from the obtained data sets. 
At the end of the section it can be found a summary of some of the issued encountered

In [28]:
# Getting basic general info from the three data sets. 
# Assessing WeRateDogs Twitter archive
twitter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [32]:
twitter_data

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [29]:
# Getting basic general info from the three data sets. 
# Assessing  tweet image predictions archive
Imagenes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [30]:
# Getting basic general info from the three data sets. 
# Assessing archive get with Tweepy library and saved as tweet_json.txt
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 6 columns):
tweet_id          2340 non-null int64
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
text              2340 non-null object
retweeted         2340 non-null bool
date_time         2340 non-null object
dtypes: bool(1), int64(3), object(2)
memory usage: 93.8+ KB

In [ ]:
#### Quality
##### `patients` table
- Zip code is a float not a string
- Zip code has four digits sometimes
- Tim Neudorf height is 27 in instead of 72 in
- Full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns) ***(can't clean yet)***
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- Multiple phone number formats
- Default John Doe data
- Multiple records for Jakobsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight

##### `treatments` table
- Missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- Lowercase given names and surnames
- Missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (leading 4s mistaken as 9s)
- Nulls represented as dashes (-) in auralin and novodra columns

##### `adverse_reactions` table
- Lowercase given names and surnames